/* uncomment the next line to add outlines on everything for testing */
/* * { outline: 1px solid rgb(97, 97, 97) }      */

/* #region main template */
  body {
      margin: 0;
      overflow: hidden;
      background-color: #000;
      background-image: url('images/background.jpg');
      background-size: cover;
      background-position-x: center;
      background-position-y: 80%;
      background-repeat: no-repeat;
      /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
      font-family: 'Lilita One', sans-serif;
      color: #FFFFFF;
      /* padding: 20px; */
  }

  .container {
      display: flex;
      height: 100vh;
  }

  .panel {
      flex: 1;
      box-sizing: border-box;
  }

  .panel-left {
      width: 30%;
  }

  .panel-center {
      display: flex;
      /* width: 100%; */
      flex-direction: column;
      margin-bottom: 40px;
      /* align-content: center; */
  }

  .panel-right {
      width: 30%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    text-align: center;
  }
/* #endregion */

/* #region player card */
  .player-card {
      background-position: bottom left;
      background-repeat: no-repeat;
      height: 94vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /* padding: 20px; */
      border-radius: 20px;
      margin: 20px;
      position: relative;
  }

  .outcome {

      font-size: 60pt;
      font-weight: bolder;
      text-align: center;
  }

  .outcome.winner {
      color: gold;
      text-shadow:
          -3px -3px 0 black,
          0 -3px 0 black,
          3px -3px 0 black,
          3px 0 0 black,
          3px 3px 0 black,
          0 3px 0 black,
          -3px 3px 0 black,
          -3px 0 0 black;
      text-align: center;
  }

  .outcome.loser {
      color: rgb(214, 55, 55);
      text-shadow:
          -3px -3px 0 black,
          0 -3px 0 black,
          3px -3px 0 black,
          3px 0 0 black,
          3px 3px 0 black,
          0 3px 0 black,
          -3px 3px 0 black,
          -3px 0 0 black;
  }

  .player-overview {

      padding-left: 30px;
      padding-bottom: 20px;

  }

  .player-info-field {
      background-color: #00000044;
      width: 100%;
  }

  .godpower-card {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      /* border: 3px solid black; */
      overflow: hidden;
      
  }
/* #endregion */ 

/* #region card list */
  .card-list-container {
      display: flex;
      justify-content: center;
      /* padding: 40px; */
  }

  .card-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      /* gap: 4px; */
  }

  .card-icon {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin: 2px;
      transition: transform 0.2s;
      position: relative;
      overflow: hidden;
      z-index: 1;
  }

  /* .card-icon img {
    width: 80%;
    border-radius: 8px;
} */

  .card-icon:hover {
      transform: scale(2.5);
      background-color: #333;
      color: #fff;
      z-index: 2;
  }
/* #endregion */

/* #region center top */
  .center-top {
      background-color: #dcdcdc00;
      text-align: center;
      height: 30%;
  }

  .logo-top {
      color: rgba(170, 207, 255, 0.685);
      font-size: 128pt;
      text-shadow: 4px 4px 4px #000;
      padding: 2px;
      text-align: right;

  }

  .logo-bottom {
    font-size: 24pt;
    text-align: right;
    letter-spacing: 3px;
    margin-right: 28px;
    margin-top: -54px;
    color: rgba(100, 150, 15, 1) ;
    color: white;
    text-shadow: 4px 4px 4px #000;
  }
/* #endregion */

/* #region match list */


  .center-bottom{
justify-content: center;
align-items: center;  }



#match-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 45px; */
    overflow-y: auto;
    overflow-x: hidden;
}

  @keyframes dropIn {
    from {
      /* transform: translateX(25px); */
      scale: 90%;
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }
  
  .match-banner {
    animation: dropIn 0.4s ease-out;
  } 
  

  .match-banner {
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
  }

  .match-banner:hover {
    background-color: rgba(165, 42, 42, 0.267);
    background-size: 110%;
    scale: 105%;
    outline: 2px solid rgba(255, 255, 0, 0.171);
    outline-style: ridge;
    outline-offset: 5px;
  }

  .match-banner.active {
    /* background-color: blue; */
    outline: 2px solid rgba(255, 255, 0, 0.171);
    outline-style: ridge;
    outline-offset: 5px;
  }
 
  .match-banner:hover .user-list-text{
    color: chartreuse;
  } 
  .match-banner:active .user-list-text{
    color: black;
  } 

  .match-banner-panel {
      /* position: relative; */
      display: flex;

  }

  .banner-right {
      flex-direction: row-reverse;
  }

  .banner-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel-container {

    display: flex;
    gap: 5px;

  }
  
  .match-info {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    width: fit-content;
    color: chartreuse;
    padding: 2px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    margin-bottom: -5px;
  }

  .godpower-list {
      background-image: url(https://images.godsunchained.com/art2/250/100113.webp);
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.6);
      font-size: 2em;
      z-index: 1;
      font-family: 'Lilita One', sans-serif;
  }

  .list-bar {
      background-color: rgba(0, 0, 0, 0.418);
      width: 235px;
      height: 20px;
      margin-top: 5px;
      margin-right: 0px;
      margin-left: -15px;
      justify-content: flex-end;
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
  }

  .bar-right {
      justify-content: flex-end;
      margin-left: 0px;
      margin-right: -15px;
      flex-direction: row-reverse;
  }

  .user-list-text {
      color: rgb(124, 170, 255);
      font-size: 1em;
      text-align: right;
  }

  .text-right {
      text-align: left;
  }

  .rank,
  .lost-match,
  .won-matches,
  .winrate {
      display: flex;
      height: 20px;
      width: 20px;
      margin: 2px;
      margin-top: 10px;
      border-radius: 50%;
      font-family: 'Lilita One', sans-serif;
      justify-content: center;
      align-items: center;
  }

  .winrate-right {
      flex-direction: row-reverse;
  }



  .lost-match {
      background-color: rgb(158, 39, 39);
      color: black;
      font-size: 1.3em;
  }


  .won-matches {
      background-color: white;
      background: linear-gradient(0deg, rgba(100, 150, 15, 1) 0%, rgba(100, 150, 15, 1) 10%, rgb(151, 224, 23) 40%, rgba(100, 150, 15, 1) 100%);
      color: white;
      font-size: 1.4em;
      text-shadow:
          -2px -2px 0 grey,
          0 -2px 0 grey,
          2px -2px 0 grey,
          2px 0 0 grey,
          2px 2px 0 grey,
          0 2px 0 grey,
          -2px 2px 0 grey,
          -2px 0 0 grey;

      margin-left: 5px;
      margin-right: 5px;
  }

  .rank {
      color: black;
      font-size: 1.4em;
      text-shadow:
          -2px -2px 0 grey,
          0 -2px 0 grey,
          2px -2px 0 grey,
          2px 0 0 grey,
          2px 2px 0 grey,
          0 2px 0 grey,
          -2px 2px 0 grey,
          -2px 0 0 grey;
      z-index: 1;

  }

  .rank-left {
      margin-left: -10px;
      margin-right: auto;
  }

  .rank-right {
      margin-left: auto;
      margin-right: -10px;
  }

  .winrate {
      background-color: rgb(236, 204, 162);
      width: 80px;
      color: black;
      border-radius: 5px;
      font-size: 1em;
  }

/* #endregion */

/* #region general elements */ 

  .material-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
.button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.button:hover {
    background-color: #45a049;
}

  .debug-panel {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: chartreuse;
    padding: auto;
    text-justify: left;
    font-size: 0.8em;;


  }

/* #endregion */

/* #region scrollbar */
/* For Webkit Browsers (Chrome, Safari) */
#match-list::-webkit-scrollbar {
    width: 5px;
  }
  
  #match-list::-webkit-scrollbar-thumb {
    background-color: #7b88d18f; /* Scrollbar thumb color */
    border-radius: 6px;
  }
  
  #match-list::-webkit-scrollbar-track {
    background-color: #f1f1f13f; /* Scrollbar track color */
  }
  
  #match-list::-webkit-scrollbar-thumb:hover {
    background-color: #6f45a069; /* Change color on hover */
  }
/* #endregion */