  /* * { outline: 1px solid rgb(97, 97, 97) }     */


body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    padding: 20px;
}

.container {
    display: flex;
    height: 100vh;
}

.panel {
    flex: 1;
    box-sizing: border-box;
}

.panel-left {
    width: 30%;
}

.panel-center {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.panel-right {
    width: 30%;
}


.player-card {
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 20px; */
    border-radius: 20px;
    margin: 20px;
}


.outcome {

    font-size: 60pt;
    font-weight: bolder;
    text-align: center;
}

.outcome.winner {
    color:gold;
    text-shadow:
    -3px -3px 0 black,
     0   -3px 0 black,
     3px -3px 0 black,
     3px  0   0 black,
     3px  3px 0 black,
     0    3px 0 black,
    -3px  3px 0 black,
    -3px  0   0 black;
    text-align: center;
}

.outcome.loser {
    color:black;
    text-shadow:
    -3px -3px 0 red,
     0   -3px 0 red,
     3px -3px 0 red,
     3px  0   0 red,
     3px  3px 0 red,
     0    3px 0 red,
    -3px  3px 0 red,
    -3px  0   0 red;
}

.player-overview {

    padding: 30px;

}

.player-info-field {
    background-color: #00000044;
    width: 100%;
}

.godpower-card {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
}

.card-list-container {
    
}

.card-list {
    width: 100%;
}

.card-icon {
    height: 50x;
    width: 50px;
    border-radius: 25%;
    /* border: 3px solid black; */
    overflow: hidden;
    margin: 2px;
}


.center-top {
    background-color: #dcdcdc00;
    text-align: center;
}

.gods-text {
    font-family: 'Gabriola', cursive;
    color: white;
    font-size: 2in;
    text-shadow: 4px 4px 4px #000;
}

#match-list {
    padding: 20px;
}

.match-banner {
    background-color: #333;
}




.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    text-align: center;
}
