/* uncomment the next line to add outlines on everything for testing */
/* * { outline: 1px solid rgb(97, 97, 97) }      */

/* #region main template */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
  font-family: 'Lilita One', sans-serif;
  color: #FFFFFF;
}

.container {
  display: flex;
  height: 100vh;
}

.panel {
  flex: 1;
  box-sizing: border-box;
}

.panel-left {
  width: 30%;
}

.panel-center {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.panel-right {
  width: 30%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/* #endregion */

/* #region general elements */
.button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 20px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  scale: 110%;
}

.debug-panel {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: chartreuse;
  padding: auto;
  text-justify: left;
  font-size: 0.8em;
}
/* #endregion */

/* #region player card */
.player-card {
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 20px; */
  border-radius: 20px;
  margin: 20px;
  position: relative;
}

.outcome {

  font-size: 60pt;
  font-weight: bolder;
  text-align: center;
}

.outcome.winner {
  color: gold;
  text-shadow:
    -3px -3px 0 black,
    0 -3px 0 black,
    3px -3px 0 black,
    3px 0 0 black,
    3px 3px 0 black,
    0 3px 0 black,
    -3px 3px 0 black,
    -3px 0 0 black;
  text-align: center;
}

.outcome.loser {
  color: rgb(214, 55, 55);
  text-shadow:
    -3px -3px 0 black,
    0 -3px 0 black,
    3px -3px 0 black,
    3px 0 0 black,
    3px 3px 0 black,
    0 3px 0 black,
    -3px 3px 0 black,
    -3px 0 0 black;
}

.player-overview {

  padding-left: 30px;
  padding-bottom: 20px;

}

.player-info-field {
  background-color: #00000044;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.godpower-card {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  /* border: 3px solid black; */
  overflow: hidden;
}

.player-matchlist-button {
  margin: 0;
}
/* #endregion */

/* #region player card portraits */
.portrait-containter {
  display: flex;
  /* position: relative; */
  /* margin-bottom: 0; */
  margin-top: auto;
  /* width: auto; */
}

.portrait {
  /* position: absolute; */
  /* bottom: 0; */
}

.portrait-left {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
}

.portrait-right {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
}
/* #endregion */

/* #region card list */
.card-list-container {
  display: flex;
  justify-content: center;
  /* padding: 40px; */
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  /* gap: 4px; */
}

.card-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* .card-icon img {
    width: 80%;
    border-radius: 8px;
} */

.card-icon:hover {
  transform: scale(2.5);
  background-color: #333;
  color: #fff;
  z-index: 2;
}
/* #endregion */

/* #region center top */
.center-top {
  background-color: #dcdcdc00;
  text-align: center;
  height: 30%;
}

.logo-top {
  color: rgba(170, 207, 255, 0.685);
  font-size: 128pt;
  text-shadow: 4px 4px 4px #000;
  padding: 2px;
  text-align: right;

}

.logo-bottom {
  font-size: 24pt;
  text-align: right;
  letter-spacing: 3px;
  margin-right: 28px;
  margin-top: -54px;
  color: rgba(100, 150, 15, 1);
  color: white;
  text-shadow: 4px 4px 4px #000;
}
/* #endregion */

/* #region match list */
.center-bottom {
  justify-content: center;
  /* align-items: center;   */
  margin-bottom: 35px;
  margin-top: 20px;
}

#match-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

  @keyframes dropIn {
    0% {
      transform: translateY(-80px);
      /* scale: 90%; */
      opacity: 0;
    }



    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 100%;
    }
  }

  .match-banner {
    animation: dropIn 1s ease-in;
  }

  .match-banner {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .match-banner:hover {
    scale: 105%;
  }

  .match-banner.active {
    color: chartreuse;
    scale: 105%;
  }

  .match-banner:hover .user-list-text {
    color: chartreuse;
  }

  .match-banner:active .user-list-text {
    color: yellow;
  }

  .match-banner-panel {
    display: flex;

  }

  .banner-right {
    flex-direction: row-reverse;
  }

  .banner-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel-container {

    display: flex;
    gap: 5px;
  }

  .match-info {
    border-radius: 5px;
    width: fit-content;
    color: chartreuse;
    padding: 2px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    margin-bottom: -5px;
  }

  .godpower-list {
    background-image: url(https://images.godsunchained.com/art2/250/100113.webp);
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    z-index: 1;
  }

  .rank {
    color: white;
    font-size: 1.3em;
    font-family: 'Lilita One', sans-serif;
    text-shadow:
      -2px -2px 0 black,
      0 -2px 0 black,
      2px -2px 0 black,
      2px 0 0 black,
      2px 2px 0 black,
      0 2px 0 black,
      -2px 2px 0 black,
      -2px 0 0 black;
    z-index: 1;
    margin-top: -2px;
  }

  .rank-right {
    margin-left: auto;
    margin-right: 0px;
  }

  .god-tag {
    width: 13px;
    height: 20px;
    position: absolute;

    outline: 1px solid black;
    border-radius: 3px;
  }

  #god-tag-1 {
    top: 49px;
    left: 1px;
  }

  #god-tag-2 {
    top: 50px;
    left: 9px;
  }

  #god-tag-3 {
    top: 50px;
    left: 19px;
  }

  #god-tag-1-right {
    top: 49px;
    right: 1px;
  }

  #god-tag-2-right {
    top: 50px;
    right: 9px;
  }

  #god-tag-3-right {
    top: 50px;
    right: 19px;
  }

  .list-bar {
    background-color: rgba(0, 0, 0, 0.418);
    width: 235px;
    height: 20px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: -15px;
    justify-content: flex-end;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bar-right {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -15px;
    flex-direction: row-reverse;
  }

  .user-list-text {
    color: rgb(124, 170, 255);
    font-size: 1em;
    text-align: right;
  }

  .text-right {
    text-align: left;
  }

  .lost-match,
  .won-matches,
  .winrate {
    display: flex;
    height: 20px;
    width: 20px;
    margin: 2px;
    margin-top: 10px;
    border-radius: 50%;
    font-family: 'Lilita One', sans-serif;
    justify-content: center;
    align-items: center;
  }

  .winrate-right {
    flex-direction: row-reverse;
  }

  .lost-match {
    background-color: rgb(158, 39, 39);
    color: black;
    font-size: 1.3em;
  }

  .won-matches {
    color: gold;
    font-size: 1.4em;
    text-shadow:
      -2px -2px 0 black,
      0 -2px 0 black,
      2px -2px 0 black,
      2px 0 0 black,
      2px 2px 0 black,
      0 2px 0 black,
      -2px 2px 0 black,
      -2px 0 0 black;
    margin-left: 5px;
    margin-right: 5px;
  }

  .winrate {
    background-color: rgb(236, 204, 162);
    width: 80px;
    color: black;
    border-radius: 5px;
    font-size: 1em;
  }
  /* #endregion */

  /* #region scrollbar */
  /* For Webkit Browsers (Chrome, Safari) */
  #match-list::-webkit-scrollbar {
    width: 4px;
  }

  #match-list::-webkit-scrollbar-thumb {
    background-color: #7b88d18f;
    /* Scrollbar thumb color */
    border-radius: 6px;
  }

  #match-list::-webkit-scrollbar-track {
    background-color: #f1f1f13f;
    /* Scrollbar track color */
  }

  #match-list::-webkit-scrollbar-thumb:hover {
    background-color: #6f45a069;
    /* Change color on hover */
  }
  /* #endregion */